
/* Reset margin, padding, border */

html, body,

h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong, sub, sup,
strike, s, mark, del, ins,
abbr, dfn,
blockquote, q, cite,
code, pre,

ol, ul, li, dl, dt, dd,

div, section, article,
main, aside, nav,
header, hgroup, footer,

img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,

fieldset, form, label, legend,

table, caption,
tbody, tfoot, thead,
tr, th, td
 {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* Reset font */

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
}

* {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
footer,
header,
nav,
section,
main {
	display: block;
}

/* Box sizing */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

/* Table */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Lists */

ol,
ul {
  list-style: none;
}

/* Links */
a,
a:visited {
  color: inherit;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

/* Media */

img,
video,
{
  max-width: 100%;
}

img {
  border-style: none;
}

/* Hidden */

[hidden] {
  display: none !important;
}

/* outline */

:focus:not(:focus-visible) {
  outline: none;
}

/* */

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  left: -9999px;
  top: -9999px;
}
